body {
    background-color: #FAFBFC;
    display: flex;
    flex-direction: column;
}

.ui.inverted.menu {
    background-color: #1B1C1D !important;
}

.ui.footer.segment {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 1em 0em 0em;
    padding: 1em 0em;
    background-color: #f5f5f5;
}